<div class="card bg-dark text-white">

  <div class="card-header d-flex align-items-center">
    
    <h4> <i class="far fa-images"></i> Upload an Image</h4>
   
  </div>

  {{! IMAGE UPLOAD FORM }}
  <div class="card-body p-4">
    <form action="/images/add" method="POST" enctype="multipart/form-data">
        <div class="inout-group">
           <div class="mb-3">
        <input
          type="file"
          name="image"
          class="form-control text-dark border-success"
          required
        />
      </div>
        </div>

      <div class="form-group my-3">
        <input type="text" name="title" class="form-control  border border-success"
          placeholder="Title for the Image"
          required/>
      </div>

      <div class="form group mb-3">
        <textarea
          name="description"
          rows="2"
          class="form-control  border border-success"
          placeholder="Description for the Image"
          required
        ></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-success">
          <i class="fa fa-upload"></i>
          Upload Image
        </button>
      </div>

    </form>
  
  </div>
   
</div>
<div class="card mt-4">
  <div class="card-header bg-dark text-white">
    <h3><i class="fa fa-images"></i> imagenes subidas</h3>  
  </div>
  <div class="card-body">
    <div class="row">
      {{#each image}}
      <div class="col-md-4">
        <a href="/image/{{this._id}}"><img src="/img/uploads/{{this.filename}}" alt="{{this.title}}"
         class="w-100 h-100 img-thumbnail " style="object-fit:cover;"></a>
      </div>
      
    
      {{/each}}
    </div>
  </div>
</div>